*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
   
}

.header{
    width: 100%;
    color: #fff;
    font-size: 34px;
    padding-top: 40px;
    

}
ul{
    width: 40%;
    display: flex;
    justify-content: space-around;
    text-align: center;   
}
a{
    text-decoration: none;
    color: #fff; 
    font-weight: 400px;   
}
a:hover{
    color: rgb(238, 105, 171);
}
.login{
    margin-left: 120px;
    margin-top: 50px;
}

form{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 40px ; 
     
}
input{
border-radius: 5px;
border: 1px solid #fec0fe;
padding: 8px;
   
}
::placeholder{
    color: #a66dd8;
}
button{
    background-color: #fec0fe;
    border-radius: 5px;
    border: 1px solid #a66dd8;
    padding: 12px;
    color: #a66dd8;;
    font-size: 17px;
}
button:hover{
    background-color: #a66dd8;
    color: #fff;
}


@media(max-width:900px){
    ul{
        width: 100%;
        justify-content: center;
    }
    li{
        margin: 8px;
    }
    a{
        color: #fff;
    }
    .login{
       display: flex;
       justify-content: center;
       
        margin-left: 0;
       
    }
}