/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    background-image: url(.../../assets/fundo.png);
    font-family: 'Bebas Neue', cursive;
   
}
@media(max-width: 900px) {
    body {
        width:100%;
        height: 600px;
        background-image: url(.../../assets/fundo-3.png);
        background-position: center;
        background-size: cover;
    }
}