<header>
    <div class="header">
        <ul>
            <a href=""> <li>Home</li> </a>
            <a href=""><li>Jogos</li></a>
            <a href=""><li>Sobre nós</li></a>
            <a href=""><li>Contato</li></a>
        </ul>

        
    </div>
    
    <div class="container">
        <h1>
            Embarque Neste <br><span>Novo Mundo</span>
        </h1>
        <p>Este é seu tempo</p>
        <button>Jogue agora</button>
    </div>
</header>

<main>
    

    <!-- <div class="login">
        <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="password">
            <button>Play</button>
        </form>    
    </div> -->
    

</main>
    

<footer>
    
</footer>

<div class="animacao">
        <div id="ima" @fadeSlideInOutLuz class="imagem-luz">
            <img src="../../../../assets/luz.png">
        </div>

        <div  @fadeSlideInOut class="imagem">
            <img src="../../../../assets/jogo.png">
        </div>

        <div id="bola" @fadeSlideInOutBola class="imagem-luz">
            <img src="../../../../assets/bola.png">
        </div> 
    </div>
