
.header{
    width: 50%;
    color: #fff;
    font-size: 34px;
    padding-top: 40px;
    height: 8vw;
    margin-bottom: 50px;
}

main{
    display: flex;
    align-items: center;
}
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 32px;
    margin-left: 50px;
    padding: 48px 0;
}

p{
    margin-bottom: 48px;
}


h1{
    font-size: 44px;
    margin-bottom: 48px;
    text-align: center;
    border: 1px solid;
    padding: 16px;
}
h1 span{
    font-weight: 300;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;   
}



a{
    text-decoration: none;
    color: #fff; 
    font-weight: 400px;   
}

a:hover{
    color: rgb(238, 105, 171);
}

.login{
    margin-left: 120px;
    margin-top: 50px;
}

form{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    padding: 40px ; 
    min-width: 400px;
}

input{
    border-radius: 5px;
    border: 1px solid #fec0fe;
    padding: 16px; 
    margin-bottom: 8px;
}

::placeholder{
    color: #a66dd8;
}

button{
    background-color: #fec0fe;
    border-radius: 5px;
    border: 1px solid #a66dd8;
    padding: 12px;
    color: #a66dd8;;
    font-size: 17px;
}

#ima, #bola{
    visibility: hidden;
}

button:hover{
    background-color: #a66dd8;
    color: #fff;
}

.imagem img, .imagem-luz img{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 220px;
}

/* #bola{
    position: absolute;
    width: 80%;
    right: 60px;
    bottom: 80px;
} */

@media(max-width:990px){
    .header{
        width: 100%;
    }
    ul{
        width: 100%;
        justify-content: space-around;
    }
    li{
        margin: 8px;

    }
    a{
        color: rgb(255, 255, 255);
    }
    .login{
       display: flex;
       justify-content: center;
        margin-left: 0;
    }
    .imagem{
        display: flex;
        justify-content: center;
        margin-top: 555px;
    }
    .imagem img {
        width: 50%;

    }
    .imagem img,
    .imagem-luz img {
        min-width: 450px;
        position: absolute;
        bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .container{
        width: 100%;
        margin: 0;
    }
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 19vh;
    background-image: url('../../../../assets/footer.jpg');
}

button {
    padding: 16px 32px;
}